[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
build = "*"
twine = "*"
virtualpet = {path = ".", editable = true}
virtualpet-game = "*"

[dev-packages]
pytest = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.13"
